block content
  #char_module.module
    .module_title Character
    .controls
      div.char_name #{character.name}
      div.char_attrs
        | #{character.race.name} #{character.class.name}
        br
        | #{character.alignment.name}
        br
        | Gold: #{character.gold}
