extends layout

block extraHeader
  title Generate Character
  link(rel='stylesheet', href='/css/char.css')

block content
  .module
    .module_title Create New Character
    form.generate_char(action='/chars', method='post')
      .char_input_label Name:
      input.char_input(name='char_name', type='text')
      br
      .char_input_label Age:
      input.char_input(name='char_age', type='number')
      br
      .char_input_label Gender:
      select.char_input(name='char_gender')
        each gender, key in genders
          option(value="#{key}") #{gender.name}
      br
      .char_input_label Race:
      select.char_input(name='char_race')
        each race, key in races
          option(value="#{key}") #{race.name}
      br
      .char_input_label Class:
      select.char_input(name='char_class')
        each char_class, key in classes
          option(value="#{key}") #{char_class.name}
      br
      .char_input_label Alignment:
      select.char_input(name='char_alignment')
        each alignment, key in alignments
          option(value="#{key}") #{alignment.name}      
      br
      br
      input#generatebtn(type='submit', value='Create')

